CACHE_URL=1
DATABASE_URL=1
ADMIN_ID=0
BOT_TOKEN=
DATABASE_DB=db
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
ADMIN_GROUP_ID=0
DATABASE_HOST=db
DATABASE_PORT=5432
ENVIRONMENT=LOCAL
MODEL=gpt-4.1-nano
MODE=EN
OPENAPI_TOKEN=
